#root{
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #7878cc;
}

.App-header{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 50vh;
  background-image: url(https://images6.alphacoders.com/909/thumb-1920-909641.png);
  background-size: cover;
  background-position: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.search{
  width: 100vw;
  max-width: 1200px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;


}

.search input{
  width: 50%;
  height: 50%;
  border-radius: 0.5rem;
  border: none;
  margin: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

.search button{
  width: 10%;
  height: 50%;
  border-radius: 0.5rem;
  border: none;
  margin: 0.5rem;
}

.search-results{
  margin: 2rem;
  padding: 2rem 0 ;
  width: 80%;
  max-width: 1200px;
  /*height: 20vh;*/
  background-color: #121225;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.result-info-titlte{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 255, 85);
}
.result-info{
  height: 50%;
  width: 30%;
  margin: 0.5rem;
  color: rgb(0, 255, 85);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards{
  padding: 1rem;
  width: 100vw;
  max-width: 1200px;
  color: #0d0d1d;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card{
  background: rgb(50, 54, 71);
  margin: 1rem;
  width: calc(600px - 4rem);
  height: 30vh;
  display: flex;
  border-radius: 1rem;
}

.card-image hr{
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 50%;
  border: none;
  background: gray;
  box-shadow: 0px 0px 5px 5px #ffffff4b;
  width: 15px;
  height: 15px;
  z-index: 10;
}

.card-image img{
  height: 100%;
  border-radius: 1rem 0 0 1rem;
  overflow: hidden;
}

.card-info{
  /*background-color: #171731;*/
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  color: #ffffff;
  /*line-height: rem;*/
}

.text-description{
  color: #7a7a7a;
  font-size: 0.7rem;
  line-height: 0.2rem;
}